* {
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(120deg, #ffeaf4, #ffd6ec, #ffe1f7, #ffd6ec, #ffeaf4, #fbb1d2, #f8b7e3, #fbb1d2);
    background-size: 300% 300%;
    animation: pink-move 10s ease-in-out infinite;
}
                                @keyframes pink-move {
                                    0% {
                                        background-position: 0% 50%;
                                    }
                
                                    25% {
                                        background-position: 50% 100%;
                                    }
                
                                    50% {
                                        background-position: 100% 50%;
                                    }
                
                                    75% {
                                        background-position: 50% 0%;
                                    }
                
                                    100% {
                                        background-position: 0% 50%;
                                    }
                                }
                
                                /* Bong bóng nổi lên */
                                .bubble {
                                    position: fixed;
                                    bottom: -100px;
                                    border-radius: 50%;
                                    opacity: 0.5;
                                    z-index: 0;
                                    animation: bubble-float 12s linear infinite;
                                    pointer-events: none;
                                }
                
                                .bubble.pink {
                                    background: #fbb1d2;
                                    width: 60px;
                                    height: 60px;
                                    left: 10%;
                                    animation-duration: 10s;
                                }
                
                                .bubble.light {
                                    background: #fad2e5;
                                    width: 40px;
                                    height: 40px;
                                    left: 30%;
                                    animation-duration: 13s;
                                }
                
                                .bubble.deep {
                                    background: #f8a0d1;
                                    width: 80px;
                                    height: 80px;
                                    left: 60%;
                                    animation-duration: 15s;
                                }
                
                                .bubble.tiny {
                                    background: #ffd6ec;
                                    width: 30px;
                                    height: 30px;
                                    left: 80%;
                                    animation-duration: 9s;
                                }
                
                                @keyframes bubble-float {
                                    0% {
                                        transform: translateY(0) scale(1);
                                        opacity: 0.5;
                                    }
                
                                    80% {
                                        opacity: 0.7;
                                    }
                
                                    100% {
                                        transform: translateY(-110vh) scale(1.2);
                                        opacity: 0;
                                    }
                                }

.letter {
    position: relative;
    z-index: 1;
}

.valentines {
    position: relative;
    top: 50px;
    cursor: pointer;
    animation: up 3s linear infinite;
}

@keyframes up {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}


.envelope {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f08080;
}

.envelope:before {
    background-color: #f08080;
    content: "";
    position: absolute;
    width: 212px;
    height: 212px;
    transform: rotate(45deg);
    top: -105px;
    left: 44px;
    border-radius: 30px 0 0 0;
}

.card {
    position: absolute;
    background-color: #e2e1da;
    width: 270px;
    height: 170px;
    top: 5px;
    left: 15px;
    box-shadow: -5px -5px 100px rgba(0, 0, 0, 0.4);
}

.card:before {
    content: "";
    position: absolute;
    border: 3px solid #003049;
    border-style: dotted;
    width: 240px;
    heighT: 140px;
    left: 12px;
    top: 12px;
}

.text {
    position: absolute;
    font-family: 'Brush Script MT', cursive;
    font-size: 28px;
    text-align: center;
    line-height: 25px;
    top: 19px;
    left: 85px;
    color: #f075e6;
}



.heart:before {
    top: -15px;
    left: 0;
}

.heart:after {
    left: 15px;
    top: 0;
}

.hearts {
    display: none;
}

.one,
.two,
.three,
.four,
.five {
    background-color: red;
    display: inline-block;
    height: 10px;
    margin: 0 10px;
    position: relative;
    transform: rotate(-45deg);
    width: 10px;
    top: 50px;
}

.one:before,
.one:after,
.two:before,
.two:after,
.three:before,
.three:after,
.four:before,
.four:after,
.five:before,
.five:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 10px;
    position: absolute;
    width: 10px;
}

.one:before,
.two:before,
.three:before,
.four:before,
.five:before {
    top: -5px;
    left: 0;
}

.one:after,
.two:after,
.three:after,
.four:after,
.five:after {
    left: 5px;
    top: 0;
}

.one {
    left: 10px;
    animation: heart 1s ease-out infinite;
}

.two {
    left: 30px;
    animation: heart 2s ease-out infinite;
}

.three {
    left: 50px;
    animation: heart 1.5s ease-out infinite;
}

.four {
    left: 70px;
    animation: heart 2.3s ease-out infinite;
}

.five {
    left: 90px;
    animation: heart 1.7s ease-out infinite;
}

@keyframes heart {
    0% {
        transform: translateY(0) rotate(-45deg) scale(0.3);
        opacity: 1;
    }

    100% {
        transform: translateY(-150px) rotate(-45deg) scale(1.3);
        opacity: 0.5;
    }
}

.front {
    position: absolute;
    border-right: 180px solid #f4978e;
    border-top: 95px solid transparent;
    border-bottom: 100px solid transparent;
    left: 120px;
    top: 5px;
    width: 0;
    height: 0;
    z-index: 10;
}

.front:before {
    position: absolute;
    content: "";
    border-left: 300px solid #f8ad9d;
    border-top: 195px solid transparent;
    left: -120px;
    top: -95px;
    width: 0;
    height: 0;
}

.shadow {
    position: absolute;
    width: 330px;
    height: 25px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 265px;
    left: -15px;
    animation: scale 3s linear infinite;
    z-index: -1;
}

@keyframes scale {

    0%,
    100% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0.85);
    }
}

.hover-animation {
    animation: hover 1.75s ease-in-out infinite;
}

#castle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: transparent;
}

.dustDef {
    position: absolute;
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 0 3px 1px white;
    opacity: 0;
}

@keyframes hover {
    0% {
        margin-top: 60px;
    }

    50% {
        margin-top: 50px;
    }

    100% {
        margin-top: 60px;
    }
}

@keyframes glow {
    0% {
        box-shadow: 0 0 25px 0 #e8b2ca;
    }

    50% {
        box-shadow: 0 0 45px 0 #e8b2ca;
    }

    100% {
        box-shadow: 0 0 25px 0 #e8b2ca;
    }
}

@keyframes fall {
    5% {
        top: 209px;
        left: 105px;
        transform: rotate(55deg) scale(0.9, 0.95) skew(-18deg);
        opacity: 0.9;
    }

    30% {
        left: 90px;
    }

    55% {
        left: 130px;
    }

    60%,
    100% {
        top: 380px;
        transform: rotate(30deg) scale(0.9, 0.95) skew(-32deg);
        opacity: 0;
    }
}

@keyframes floatAnimate {
    0% {
        background-size: 105% 120%;
        background-position: 0 0;
        opacity: 0.7;
    }

    50% {
        background-size: 100% 100%;
        background-position: 0 0;
        opacity: 0.5;
    }

    100% {
        background-size: 105% 120%;
        background-position: 0 0;
        opacity: 0.7;
    }
}
svg {

    width: 80%;
    display: block;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

text {
    fill: #e6668a;
    font-family: consolas;
    font-size: 9px;
}

p {
    position: absolute;
    z-index: 2
}

label {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: .8
}

.letters {
    position: absolute;
    width: 65px;
    transition: 10s ease-in-out;
    cursor: pointer;
    z-index: 1000;
}

.letters img {
    width: 100%;
}

.wrapperLetterForm {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    display: none;
}

.boxLetter {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLetter .formLetter {
    position: relative;
    width: 600px;
    height: 350px;
    background-color: #FFEBEB;
    border-radius: 20px;
    z-index: 100;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.formLetter .wrapperLetter {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px dashed #FF6666;
    border-radius: inherit;
    display: flex;
}

.boxLetter .before {
    position: absolute;
    width: 600px;
    height: 350px;
    background: #fff;
    transform: rotate(-15deg);
    border-radius: 20px;
    z-index: 10;
}

.formLetter .heartLetter {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFEBEB;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.heartLetter .heartLetterItem {
    position: relative;
    width: 10px;
    height: 10px;
    transform: rotate(45deg);
    background: #f18b8b;
}

.heartLetter:first-child {
    right: 5px;
    top: 10px;
}

.heartLetter:nth-child(2) {
    left: 5px;
    bottom: 10px;
}

.heartLetterItem::before,
.heartLetterItem::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: inherit;
}

.heartLetterItem::before {
    top: -50%;
}

.heartLetterItem::after {
    left: -50%;
}

.giftbox {
    position: relative;
    width: 40%;
    height: 100%;
}

.giftbox .img {
    position: absolute;
    width: 180px;
    bottom: -10px;
    left: 50px;
    z-index: 100;
}

.giftbox img {
    width: 100%;
}

.textLetter {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    display: flex;
    align-items: flex-start;
    user-select: none;
    padding-left: 0;
}

.textLetter h2 {
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
    text-align: left;
    margin-left: 0;
}

.textLetter .contentLetter {
    font-size: 19px;
    text-align: left;
    padding: 0 10px 0 0;
    margin-top: 10px;
    font-family: 'Dancing Script', cursive;
    position: initial;

}

.fa-xmark {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
}

.show {
    display: block;
}

.heartAnimation {
    position: absolute;
    width: 200px;
    bottom: 0;
}

.heartAnimation img {
    width: 100%;
}

.mewmew1,
.mewmew2 {
    position: absolute;
    width: 90px;
}

.mewmew1 {
    bottom: 0;
    left: 0;
}

.mewmew2 {
    bottom: 0;
    right: 0;
}

.mewmew1 img,
.mewmew2 img {
    width: 100%;
}